@import "node_modules/bulma/bulma";
@import "./vie-menu";
@import "./glitch";

html,
body {
    margin: 0;
    height: 100%;
    background-color: white;
    overflow-y: auto;
    font-family: Arial;
}

body {
    display: flex;
    flex-direction: column;
}

.box {

    --aug-border: 2px;
    --aug-inset: 4px;
    padding: 14px;
    text-align: center;
    --aug-border-bg: #BA996F;
    --aug-inset-bg: rgba(64, 64, 64, 0.7);
    position: absolute;
    z-index: 2;
    background: none;
    -webkit-backface-visibility: hidden;
    width: 360px;

    &.title-box {
        top: 31px;
        left: 10px;
        transform: rotate(3deg);
    }

    &.github-box {
        top: 31px;
        right: 10px;
        transform: rotate(-3deg);
    }

    .title, em {
        color: white;
        font-size: 25px;
    }
}

#map {
    flex: 1;
    overflow: hidden;
}

.ol-popup {
    --aug-border: 2px;
    --aug-inset: 4px;
    padding: 14px;
    color: #BA996F;
    --aug-border-bg: #BA996F;
    --aug-inset-bg: rgba(64, 64, 64, 0.7);
    --aug-br-width: 249px;
    --aug-r-width: 7px;
    --aug-r-height: 110px;  
    padding-bottom: 30px;
    position: absolute;
    bottom: 12px;
    left: -30px;
    min-width: 280px;
    cursor: pointer;

    .title {
        color: #BA996F;
    }

    .subtitle {
        margin-bottom: 0.5rem;
        color: #BA996F;
    }

    .ol-popup-closer {
        text-decoration: none;
        position: absolute;
        top: 2px;
        right: 8px;
        color: #BA996F;
        transition: all .1s ease-in-out;

        &:after {
            content: "✖";
        }

        &:hover {
            transform: scale(1.05);
            top: 3px;
        }
    }
}

.ol-attribution {
    display: none;
}